@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-Regular.otf')
}
@font-face {
  font-family: 'Montserrat Light';
  src: url('font/Montserrat-UltraLight.otf')
}
html, body {
  font-family: 'Montserrat';
  color: white;
  background-color: #333333;
  -webkit-app-region: drag;
}
.content {
  width: 90%;
  margin: 0 auto;
}
.app-title {
  text-align: center;
}
.audio {
  margin-top: 5em;
  -webkit-app-region: no-drag;
}
.download {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 2em;
}
#talk-title {
  text-align: center;
}
.player {
  width: 42.5%;
  margin: 0 auto;
  -webkit-app-region: no-drag;
}
.talks > .title {
  padding-left: 2em;
}
ul {
  font-family: 'Montserrat Light';
  font-weight: 100;
  letter-spacing: 0.5;
}
li {
  list-style: none;
  padding: 1em;
  -webkit-app-region: no-drag;
}
li:hover {
  background-color: #282828;
}
input {
  margin: 1em;
  -webkit-app-region: no-drag;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4CAF50;
  margin: 1em 0;
  padding: 0;
}
button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-app-region: no-drag;
}
